h1{
    text-align: center;
    color: rgb(47, 94, 194);
    font-size: 400%;
}
body{
    background-image: url(./Yamaha-YZF-R15-V3-Action-130210.webp);
}
img{
    border: rgb(203, 218, 217);
}
