h1{
    text-align: center;
    color: rgb(175, 64, 64);
}
h3{
    text-align: center;
    color: rgba(0, 0, 0, 0.623);
    text-size-adjust: 200%;
}
body{
    background-image: url(./istockphoto-1691787654-612x612.jpg);

